.rotate {
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
      -ms-transform: rotate(-90.0deg);  /* IE9+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Safari 3.1+, Chrome */
          transform: rotate(-90.0deg);  /* Standard */
          width:15px;
          line-height: 80%;
}
tfoot  tr{
    height:90px;
}

.dataTables_filter {
  display: none;
}

table td {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

legend{
    margin-bottom: 0px;
    margin-top: 15px;
}

.navbar{
    background: #4582ec;
}

.navbar-inverse .navbar-nav > li > a{
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.row{
    margin-top:20px;
}

/* .switch { */
/*   position: relative; */
/*   display: inline-block; */
/*   width: 35px; */
/*   height: 17px; */
/* } */

/* .slider { */
/*   position: absolute; */
/*   cursor: pointer; */
/*   top: 0; */
/*   left: 0; */
/*   right: 0; */
/*   bottom: 0; */
/*   background-color: #ccc; */
/*   -webkit-transition: .4s; */
/*   transition: .4s; */
/* } */

/* .slider:before { */
/*   position: absolute; */
/*   content: ""; */
/*   height: 13px; */
/*   width: 13px; */
/*   left: 4px; */
/*   bottom: 2px; */
/*   background-color: white; */
/*   -webkit-transition: .4s; */
/*   transition: .4s; */
/* } */

/* input:checked + .slider { */
/*   background-color: #2196F3; */
/* } */

/* input:focus + .slider { */
/*   box-shadow: 0 0 1px #2196F3; */
/* } */

/* input:checked + .slider:before { */
/*   -webkit-transform: translateX(16px); */
/*   -ms-transform: translateX(16px); */
/*   transform: translateX(16px); */
/* } */

/* /\* Rounded sliders *\/ */
/* .slider.round { */
/*   border-radius: 34px; */
/* } */

/* .slider.round:before { */
/*   border-radius: 50%; */
/* } */

.switch p{
    margin-left: 20px;
  font-weight: normal;
}

.form-horizontal div{
  font-weight: normal;
  cursor: pointer;
  /* height:29px; */
}

.stats{
  height: 600px;
}


legend{
    margin-bottom: 10px;
}

.dataTables_wrapper > .row{
  margin-top:0px;

}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 160px auto 160px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#fuzzy-search-form{
  padding-left: 0px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
