
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Protein Mutations Database - API Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/theme/bootstrap.css' %} " media="screen">
    <link rel="stylesheet" href="{% static 'frontend/theme/usebootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'frontend/bootstrap/bootstrap.min.js' %} "></script>
	  <script src="{% static 'frontend/bootstrap/usebootstrap.js' %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="bootstrap/html5shiv.js"></script>
        <script src="bootstrap/respond.min.js"></script>
        <![endif]-->
         </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/download">Download</a></li>
            <li class="active"><a href="/api-doc">API Doc</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <h2>Human Protein Molecular Phenotype Database - API Documentation </h2>
          <p class="lead">
            The main purpose of the REST API is to give programmable access to the
            Protein Mutation Database, it is possible to retrieve the full
            database entries and also to perform simple fields based
            filtering.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h2> GET Method - REST</h2>
          <p> Using the GET method it is possible to retrieve the full list of entries
            of the database in JSON format. </p>
          <h5>Method URL</h5><code> /api/</code>
          <h5>Exaple with CURL </h5>
          <code>curl -H "Accept: application/json; indent=4" -o ./output.json https://hpmp.esat.kuleuven.be/api/ </code>
          <p>This snippet saves in output.json file the json data of the full database. Specifying the http header like in this example is possible to obtain the output in pretty json format.</p>
        </div>

        <div class="col-sm-8">
          <h2> GET Method with Filter - REST</h2>
          <p> Using the GET method it is possible to retrieve data from the server filtered
            on the basis of a set of fields condition.</p>
          <h5>Method URL</h5><code> /api/?field1=value1&field2=value2&...</code>
          <h5>Fields </h5>
          <pre>
            "acetilation": {
            "label": "Acetilation",
            "type": "integer"
            },
            "allosteric_change": {
            "label": "Allosteric change",
            "type": "integer"
            },
            "binding": {
            "label": "Binding",
            "type": "integer"
            },
            "folding": {
            "label": "Folding",
            "type": "integer"
            },
            "function": {
            "label": "Function",
            "type": "integer"
            },
            "glcnac": {
            "label": "Glcnac",
            "type": "integer"
            },
            "glycosylation": {
            "label": "Glycosylation",
            "type": "integer"
            },
            "id": {
            "label": "ID",
            "type": "integer"
            },
            "interaction": {
            "label": "Interaction",
            "type": "integer"
            },
            "label": {
            "label": "Label",
            "max_length": 2000,
            "type": "string"
            },
            "methilation": {
            "label": "Methilation",
            "type": "integer"
            },
            "mutation": {
            "label": "Mutation",
            "max_length": 20,
            "type": "string"
            },
            "other_ptm": {
            "label": "Other ptm",
            "type": "integer"
            },
            "pdb_id": {
            "label": "Pdb id",
            "max_length": 8,
            "type": "string"
            },
            "pdb_position": {
            "label": "Pdb position",
            "type": "integer"
            },
            "phosphorylation": {
            "label": "Phosphorylation",
            "type": "integer"
            },
            "position": {
            "label": "Position",
            "type": "integer"
            },
            "ribosylation": {
            "label": "Ribosylation",
            "type": "integer"
            },
            "subcell_localization_change": {
            "label": "Subcell localization change",
            "type": "integer"
            },
            "sumoylation": {
            "label": "Sumoylation",
            "type": "integer"
            },
            "transcription": {
            "label": "Transcription",
            "type": "integer"
            },
            "ubiquination": {
            "label": "Ubiquination",
            "type": "integer"
            },
            "uniprot_id": {
            "label": "Uniprot id",
            "max_length": 6,
            "type": "string"
            },
            "wildtype": {
            "label": "Wildtype",
            "max_length": 1,
            "type": "string"
            }

          </pre>
          <h5>Exaple with CURL </h5>
          <code>curl -H "Accept: application/json; indent=4" -o ./output.json https://hpmp.esat.kuleuven.be/api/?wildtype=R&pdb_position=149 </code>
          <p>This snippet saves in output.json file the json data of the entries with wildtype field equal to "R" and pdb_position field equal to 149.</p>
        </div>
      </div>
    </div>



    <footer class="bg-light text-center">
      <div class="text-center p-3">
        © 2020 Copyright:
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
