
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Human Protein Molecular Phenotype Database - Browse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/theme/bootstrap.css' %} " media="screen">
    <link rel="stylesheet" href="{% static 'frontend/theme/usebootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'frontend/bootstrap/bootstrap.min.js' %} "></script>
	  <script src="{% static 'frontend/bootstrap/usebootstrap.js' %}"></script>

    <script src="{% static 'frontend/script.js' %}" type="text/javascript"></script>

    <link rel="stylesheet" href="{% static 'frontend/jquery.switchButton.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/jquery-ui.structure.min.css' %}">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"> </script>
    <script type="text/javascript" src="{% static 'frontend/jquery-ui.min.js' %}"> </script>
    <script type="text/javascript" src="{% static 'frontend/jquery.switchButton.js' %}"> </script>


    <link rel="sylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/cr-1.5.3/r-2.2.7/sb-1.0.1/sp-1.2.2/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/cr-1.5.3/r-2.2.7/sb-1.0.1/sp-1.2.2/datatables.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="bootstrap/html5shiv.js"></script>
        <script src="bootstrap/respond.min.js"></script>
        <![endif]-->
         </head>
  <body>
    {% load js %}
    <script>
      var db_data = JSON.parse({{ db_data | js }});
      </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/browse">Browse</a></li>
            <li><a href="/download">Download</a></li>
            <li><a href="/api-doc">API Doc</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">

      <div class="row">
        <h2>Human Protein Molecular Phenotype Database - Browse</h2>
        <p class="lead">
          Here it is possible to interactively search the database, looking for specific phenotypes, both in terms of labels and annotations.
          Each selection can be downloaded in TSV or JSON format.
          </p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
          <form class="navbar-form navbar-left" id="fuzzy-search-form">
            <input type="text" class="form-control" id="fuzzy-search" placeholder="Search">
          </form>
        </div>
        <div class="col-sm-5"></div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#data-filter" data-placement="top" title="Field specific query to perform filtering">Create Query</button>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#data-options" title="Edit visualisation options on data values">Data Options</button>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#column-filter" title="Select which columns to hide">Column Filter</button>
        </div>
        <div class="btn-group col-sm-1">
          <button type="button" onclick="downloadTSV()" class="btn btn-success" title="Download data as visualised in table">Download</button>
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a onclick="downloadJSON()" href="#">JSON</a></li>
            <li><a onclick="downloadTSV()" href="#">TSV</a></li>
          </ul>
        </div>

      </div>
      <div id="table-db" class="row" style="margin-top:0px">
        <div class="col-md-1"></div>
        <div class="col-md-10"> <div id="table-loader" class="loader"></div>
          <table id="db" style="width:100%" class="table table-striped table-hover" hidden>
            <thead>
              <tr>
                <th>Uniprot ID</th>
                <th>Wildtype</th>
                <th>Position</th>
                <th>Mutation</th>
                <th>PDB</th>
                <th>PDB Position</th>
                <th>Phenotypic Annotation</th>
                <th><div class="rotate">Interaction</div></th>
                <th><div class="rotate">Binding</div></th>
                <th><div class="rotate">Function</div></th>
                <th><div class="rotate">anyPTM</div></th>
                <th><div class="rotate">Phosphorylation</div></th>
                <th><div class="rotate">Ubiquination</div></th>
                <th><div class="rotate">Glycosylation</div></th>
                <th><div class="rotate">Sumoylation</div></th>
                <th><div class="rotate">Acetylation</div></th>
                <th><div class="rotate">otherPTM</div></th>
                <th><div class="rotate">Methylation</div></th>
                <th><div class="rotate">Ribosylation</div></th>
                <th><div class="rotate">Subcell change</div></th>
                <th><div class="rotate">Mimetic PTM</div></th>
                <th><div class="rotate">Folding</div></th>
                <th><div class="rotate">Transcription</div></th>
              </tr>
            </thead>
            <!-- <tfoot> -->

              <!--   <tr> -->
                <!--     <th>UID</th> -->
                <!--     <th>Wildtype</th> -->
                <!--     <th>Pos</th> -->
                <!--     <th>Mut</th> -->
                <!--     <th>PDB</th> -->
                <!--     <th>PDB pos</th> -->
                <!--     <th>Label</th> -->
                <!--     <th><div class="rotate">Interaction</div></th> -->
                <!--     <th><div class="rotate">Binding</div></th> -->
                <!--     <th><div class="rotate">Function</div></th> -->
                <!--     <th><div class="rotate">Phosphorylation</div></th> -->
                <!--     <th><div class="rotate">Ubiquination</div></th> -->
                <!--     <th><div class="rotate">Glycosylation</div></th> -->
                <!--     <th><div class="rotate">Sumoylation</div></th> -->
                <!--     <th><div class="rotate">GlcNAc</div></th> -->
                <!--     <th><div class="rotate">Acetilation</div></th> -->
                <!--     <th><div class="rotate">otherPTM</div></th> -->
                <!--     <th><div class="rotate">Methilation</div></th> -->
                <!--     <th><div class="rotate">Ribosylation</div></th> -->
                <!--     <th><div class="rotate">Subcell change</div></th> -->
                <!--     <th><div class="rotate">Allosteric change</div></th> -->
                <!--     <th><div class="rotate">Folding</div></th> -->
                <!--     <th><div class="rotate">Transcription</div></th> -->
                <!--   </tr> -->
              <!-- </tfoot> -->

          </table>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <div class="modal fade" id="data-options" tabindex="-1" role="dialog" aria-labelledby="data-options-db" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Data Options</h4>
              </div>
              <div class="modal-body">
                <form id="query-db-data" class="form-horizontal">
                  <fieldset>
                    <legend>Apply Data Options</legend>
                    <div class="form-group">
                      <label class="col-lg-6 control-label">Convert null values to zero</label>
                      <div class="col-lg-3">
                        <button type="button" class="btn btn-danger" id="toggle-non-zero" onclick="nullToZero()" >Inactive - Null to Zero</button>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-6 control-label">Convert values to absolute values</label>
                      <div class="col-lg-3">
                        <button type="button" class="btn btn-danger" id="toggle-abs" onclick="absValue()" >Inactive - Abs Values</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="modal fade" id="data-filter" tabindex="-1" role="dialog" aria-labelledby="data-filter-db" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Data Filter</h4>
              </div>
              <div class="modal-body">
                <form id="query-db" class="form-horizontal">
                  <fieldset>
                    <legend>Query Database</legend>
                    <div class="form-group">
                      <label class="col-lg-2 control-label">UID</label>
                      <div class="col-lg-8">
                        <input type="text" class="form-control" id="uid" placeholder="Uniprot ID">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label">Wildtype</label>
                      <div class="col-lg-8">
                        <input type="text" class="form-control" id="wildtype" placeholder="Wildtype">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label">Position</label>
                      <div class="col-lg-8">
                        <input type="text" class="form-control" id="position" placeholder="Position">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label">Mutation</label>
                      <div class="col-lg-8">
                        <input type="text" class="form-control" id="mutation" placeholder="Mutation">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label">PDB</label>
                      <div class="col-lg-8">
                        <input type="text" class="form-control" id="pdb" placeholder="PDB ID">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label">PDB Pos</label>
                      <div class="col-lg-8">
                        <input type="text" class="form-control" id="pdb_position" placeholder="PDB Position">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label">Label</label>
                      <div class="col-lg-8">
                        <input type="text" class="form-control" id="label" placeholder="Label">
                      </div>
                    </div>
                    <div class="form-group">
                      <!-- <div class="col-lg-10 col-lg-offset-2"> -->
                        <!--   <button class="btn btn-default">Cancel</button> -->
                        <!--   <button type="submit" class="btn btn-primary">Submit</button> -->
                        <!-- </div> -->
                    </div>
                  </fieldset>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancel" onclick="resetForm()">Clear</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <div class="modal fade" id="column-filter" tabindex="-1" role="dialog" aria-labelledby="column-filter-modal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" >Column Options</h4>
              </div>
              <div class="modal-body row" style="padding-bottom:0px">
                <div class="col-sm-1"></div>

                <div  class="well col-sm-10">
                    <legend>Collapse PTM Columns</legend>

                        <button type="button" class="btn btn-danger" id="collapseSwitch" onclick="collapseColumns()" >Collapse Inactive</button>
                </div>
              </div>
              <div class="modal-body row" style="margin-top:0px">
                <div class="col-sm-1"></div>
                <div  id="checkboxes" class="well col-sm-4 form-check">
                  <form id="column-filter-main" class="form-horizontal">
                    <legend>Basic Fields</legend>
                    <div class="checkbox">
                      <label class="switch">
                        Uniprot ID <input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Wildtype<input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Position<input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Mutation<input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        PDB_id <input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        PDB_position<input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Phenotypic_Annot.<input type="checkbox" checked>
                      </label>
                    </div>
                  </form>
                </div>
                <div class="col-sm-1"></div>
                <div id="checkboxes" class="col-sm-5 well form-check">
                  <form id="column-filter-annotations" class="form-horizontal">
                    <legend>Annotations Fields</legend>
                    <div class="checkbox">
                      <label class="switch">
                        Interaction<input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Binding<input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Function<input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Any Post Transcriptional Modifications<input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Phosphorylation<input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Ubiquination<input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Glycosylation<input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Sumoylation<input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Acetylation <input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        otherPTM <input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Methylation <input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Ribosylation <input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Subecellular_Change<input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Mimetic_PTM<input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Folding<input type="checkbox" checked>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="switch">
                        Transcription<input type="checkbox" checked>
                      </label>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancel" onclick="checkAll()" >Reset</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="bg-light text-center">
        <div class="text-center p-3">
          © 2020 Copyright:
        </div>
        <!-- Copyright -->
      </footer>
  </body>
</html>
