<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Human Protein Molecular Phenotype Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/theme/bootstrap.css' %} " media="screen">
    <link rel="stylesheet" href="{% static 'frontend/theme/usebootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'frontend/bootstrap/bootstrap.min.js' %} "></script>
	  <script src="{% static 'frontend/bootstrap/usebootstrap.js' %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="bootstrap/html5shiv.js"></script>
        <script src="bootstrap/respond.min.js"></script>
        <![endif]-->
         </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/download">Download</a></li>
            <li><a href="/api-doc">API Doc</a></li>
            <li class="active"><a href="/contact-us">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <h2>Human Protein Molecular Phenotype Database - Contact us </h2>
          <p class="lead">
            For any suggestion, bug report, correction in the existing annotations, please contact us with the following form. 
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <form class="form-horizontal">
            <fieldset>
              <legend>Contact Us</legend>
              <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>

              <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
              </div>
              <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Message</label>
                <div class="col-lg-10">
                  <textarea class="form-control" rows="3" id="textArea"></textarea>
                  <span class="help-block">Write here your request.</span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

      </div>
    </div>



    <footer class="bg-light text-center">
      <div class="text-center p-3">
        © 2020 Copyright:
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
