<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Protein Mutations Database</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'frontend/theme/bootstrap.css' %} " media="screen">
    <link rel="stylesheet" href="{% static 'frontend/theme/usebootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'frontend/bootstrap/bootstrap.min.js' %} "></script>
	  <script src="{% static 'frontend/bootstrap/usebootstrap.js' %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="bootstrap/html5shiv.js"></script>
        <script src="bootstrap/respond.min.js"></script>
        <![endif]-->
         </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/browse/">Browse</a></li>
            <li><a href="/download/">Download</a></li>
            <li><a href="/api-doc/">API Doc</a></li>
            <li><a href="/contact-us/">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <h2>Human Protein Molecular Phenotype Database</h2>
          <p >
            Understanding the relationship between genotype and phenotype is one of the most relevant goals of Biology and Bioinformatics.
            
            In the last decades, many Bioinformatics tools aiming at predicting the effects of Single Aminoacid Variants (SAVs) have been developed. 
            They used Machine Learning (ML) or statistical methods to distinguishing between <b>Deleterious</b> and <b>Neutral</b> SAVs, thus implicitly associating each SAV to <i>organism-level phenotypes</i>.
            </p>

          <p>
            Although these approaches were undoubtedly crucial for the further development of Bioinformatics and Genome Interpretation, associating a SAV to an organism-level <b>binary label</b> (1/0) introduces
            strong assumptions in the models obtained. In particular, current predictors assume the i) perfect Mendelian genetic effect of every SAV and ii) only aim at the <b>coarse-grained distinction</b> between deleterious and neutral SAVs.
            </p>
            <p>
			The real connection between a SAV and the phenotype of the carrier individual is, in the vast majority of the cases, <b>much more complex</b>. Each SAV is <i>directly</i> only responsible for a protein-level change (i.e. a protein <b>molecular phenotype</b> alteration),
			which is then modulated by the complex networks of feedbacks and interactions that regulate cell life, tissue developments and the general organism's welfare. 
			Associating individual-level phenotypes to SAVs was thus an <b>extreme but necessary</b> simplification in the development of predictors <b>due to the lack of more detailed data</b> regarding the molecular-level effect of SAVs.
            </p>
            <p>
			In this paper we propose a <b>novel, manually-curated, ML-ready dataset contining more than 8000 SAVs annotated with the molecular phenotype</b> they cause on the proteins on which they are mapped.
			To collect this data we mined all the SAVs annotated in UniprotKB and we manually assigned each SAV to one or more of the <b>15 specific molecular phenotype classes</b>.
			These classes indicate wether a SAV affects the protein function, its interactions, its binding affinity, subcellular localization, post-translational modifications (PTMs) or expression and can be natively used as labels for future variant-effect predictors that will directly aim at the <b>multi-class or multi-label prediction</b> of the molecular phenotypes associated to SAVs, thus improving the level of details of these predictors.
            
            </p>
        </div>
      </div>
      <div class="row">
        <h2>Getting Started</h2>
        <p>The Single Aminoacid Variants in the databases can be accessed in three different ways: browsable web
          interface, REST API access and full database download.</p>
        <div class="panel panel-primary col-sm-4">
          <div class="panel-heading">
            <h3 class="panel-title">Browse Web Interface</h3>
          </div>
          <div class="panel-body">
            <p>It is possible to browse the database using our web interface. This
              section allows you to perform simple queries in order filter the
              data. Eventually it is possible to download the selected data as Tab Separated File or in JSON format.</p>

            <button type="button" onclick="window.location.href='/browse'" class="btn btn-primary">Go to Browse</button>
          </div>
        </div>

        <div class="panel panel-primary col-sm-4">
          <div class="panel-heading">
            <h3 class="panel-title">Full Database Download</h3>
          </div>
          <div class="panel-body">
            <p>In this section you can download the full database selecting
              one of the following formats: TSV, JSON.</p>

            <button type="button" onclick="window.location.href='/download'" class="btn btn-primary">Go to Download</button>
          </div>
        </div>

        <div class="panel panel-info col-sm-4">
          <div class="panel-heading">
            <h3 class="panel-title">API Access</h3>
          </div>
          <div class="panel-body">
            <p>There is an public REST API (Application programming interface) in order
              to obtain data using HTTP GET method. For any GET request you can custom
              conditions to filter the data. </p>

            <button type="button" onclick="window.location.href='/api-doc'"class="btn btn-info">Go to API Documentation</button>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-8">
        <h2>Statistics</h2>
          <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li class="active"><a href="#annot_distr" data-toggle="tab">Global Statistics</a></li>
            <li><a href="#annot_distr_class" data-toggle="tab">Per-class Statistics</a></li>
            </li>
          </ul>
          <div id="statistics_tab" class="tab-content">
            <div class="tab-pane fade active in" id="annot_distr">
             <img class="stats" src="{% static 'frontend/imgs/annot_num_distribution.png' %}"/>
            </div>
            <div class="tab-pane fade" id="annot_distr_class">
             <img class="stats" src="{% static 'frontend/imgs/multiplot_annot_distribution.png' %}">
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2 id="nav-tabs">How to cite</h2>
          <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li class="active"><a href="#nlm" data-toggle="tab">NLM</a></li>
            <li><a href="#ama" data-toggle="tab">AMA</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Download <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#dropdown1" data-toggle="tab">.bibtex(BibTex)</a></li>
                <li class="divider"></li>
                <li><a href="#dropdown2" data-toggle="tab">.ris(Mendeley)</a></li>
                <li class="divider"></li>
                <li><a href="#dropdown3" data-toggle="tab">.enw(EndNote)</a></li>
              </ul>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="nlm">
              <p>
				Raimondi, D, Codicè, F, Orlando G, Schymkowitz J, Rousseau F, Moreau Y.
                MPDB: a machine learning ready database of protein molecular phenotypes associated to human missense variants
                </p>
            </div>
            <div class="tab-pane fade" id="ama">
              <p>
                Raimondi, D, Codicè, F, Orlando G, Schymkowitz J, Rousseau F, Moreau Y.
                MPDB: a machine learning ready database of protein molecular phenotypes associated to human missense variants
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>



      <footer class="bg-light text-center">
        <div class="text-center p-3">
          © 2020 Copyright:
        </div>
        <!-- Copyright -->
      </footer>
  </body>
</html>
